a{
    text-decoration: none;
    color: #222222;
}
a:hover{
    text-decoration: underline;
    color: #ff1111;
}
nav{
    background-color: #4488bb;
    width: 620px;
    height: 30px;
}
nav ul{
    list-style-type: none;
    text-transform: uppercase;
}
nav ul li{
    float: left;
}
nav ul li a {
    font-size: 20px;
    background-color: #ccc;
    width: 100px;

    display: block;
    text-align: center;
    padding: 4px;
    color: #fff;
}
nav ul li a:hover{
    background-color: #fff;
    color: #ff1111;
    text-shadow: 1px 1px 2px #ccc;
}